.out{
    background-color: rgb(245, 245, 93);
    margin: auto;
    height: 550px;
    width: 570px;
    border: 1px solid black;
    border-style: dashed;
    display: flex;
}
.in1{
    width: 200px;
}

.b1{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-top: 40px;
    display: flex;
}
.b2{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
.b3{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}
.b4{
    height: 30px;
    width: 160px;
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.bx{
    width: 145px;
    background-color: white;
    padding-left: 8px;
    padding-top: 4px;
}
.by{
    width: 15px;
    background-color: black;
}

a{
    text-decoration: none;
    font-size: large;
}

.in2{
    width: 370px;
    padding-left: 5px;
    padding-right: 2px;
    color: rgb(73, 31, 112);
}
p{
    font-size: large;
}